<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>

    <link rel="stylesheet" href="bootstrap.min.css">

    <link rel="stylesheet" href="main.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id="kol">
    <img src="%D7%9C%D7%91-%D7%90%D7%9C-%D7%9C%D7%91.jpg" id="navi" class="d-inline-block align-top" alt="">
    מלב אל לב
  </a>
</nav>
    <div class="container">
        <div class="jumbotron">
            <h1 id="headerIntro">ברוך הבא!</h1>
            <span class="lead" id="spn1Intro">אנו ב "לב אל לב" שמחים שבחרת להמשיך את מעגל הנתינה, ושמנו בראש מעיינו את טובת האחר </span>
            <br>
            <span class="lead" id="spnIntro">שבסופו של דבר משפיעה על טובתנו שלנו.</span>
            <p class="lead" id="prgfIntro">תודה שבחרת בנו וברוך הבא למשפחה. בכל הערה או הארה הינך מוזמן לפנות אלינו. המשך יום מקסים!</p>
            <a class="btn btn-lg btn-primary" href="Second.html" role="button" id="btnIntron">היכנס</a>
        </div>
    </div>
</body>
</html>