<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
        <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.js"></script>

    <link rel="stylesheet" href="bootstrap.min.css">

    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="input-group col-lg-6" id="searchBar">
  <div class="input-group-prepend">
    <span class="input-group-text">חפש</span>
  </div>
  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
</div>
</body>
</html>