<div class="container">
    <div class="jumbotron">

        <p class="lead" id="prgSecond">אנא בחר רשת שאליה ברצונך לתרום:</p>

    </div>
</div>

<div class="input-group col-lg-6" id="searchBar">
    <div class="input-group-prepend">

    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="search">
    <span class="input-group-text">חפש</span>
</div>


<div ng-repeat="arr in names | filter: search" >
    <a href="#!/ChoosePortion" > <table id="DataTable" ng-click="TakeShop(arr)">
        <tr>
           
            <td>
                <img src={{arr.pic}} class="rounded-circle PicSixe">

            </td>
            <td>
                <ul>
                    <br>
                    <h5>{{arr.name}}</h5>
                    <li>{{arr.ProdName1}}: {{arr.AmountProd1}}</li>
                    <li>{{arr.ProdName2}}: {{arr.AmountProd2}}</li>
                </ul>
            </td>
        </tr>

        </table></a>


</div>

