<!DOCTYPE html>
<html lang="he" dir="rtl" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" id="kol">
    <img src="/images/%D7%9C%D7%91-%D7%90%D7%9C-%D7%9C%D7%91.jpg" id="navi" class="d-inline-block align-top" alt="">
    מלב אל לב
  </a>
</nav>
    <div ng-view></div>
</body>
</html>