<div class="container">
    <div class="jumbotron">

        <p class="lead" id="prgSecond">אתה בחרת לתרום לרשת:{{currShop.name}}</p>
        <td>
                <img src={{currShop.pic}} class="rounded-circle PicSixe" style="
    margin-left: 500px;
">

            </td>

    </div>
</div>
            
            <td>
                <ul>
                    <br>
                    <h5>{{arr.name}}</h5>
                    <li>{{arr.ProdName1}}: {{arr.AmountProd1}}</li>
                    <li>{{arr.ProdName2}}: {{arr.AmountProd2}}</li>
                </ul>
            </td>

