<div class="container">
    <div class="jumbotron">

        <p class="lead" id="prgSecond">אתה בחרת לתרום לרשת: <strong>{{currShop.name}}</strong></p>
    
               <img src="{{currShop.pic}}" class="rounded-circle PicSixe" c="" id="blabla">

          

    </div>
</div>
<center>
    
<div class="container">
    
    <div class="row">
        <span>
    <div class="jumbotron" id="firstbla">
        <h4>בחר כמות:</h4>
        <input type="number" name="points" step="1">
         <p class="lead" id="prgSecond"> {{currShop.ProdName1}}: {{currShop.price}}</p>
    </div>
        </span>
<span>
    <div class="jumbotron" id="secondbla">
        <h4>בחר כמות:</h4>
        <input type="number" name="points" step="1">
         <p class="lead" id="prgSecond">{{currShop.ProdName2}}: {{currShop.price}}</p>
    </div>
    </span>
        </div>
</div>
    </center>

