#headerIntro{
    
    padding-left: 40% !important;
}

#prgfIntro{
    
     padding-left: 7% !important;
}

body{
    
    background-color: aliceblue;
}

#btnIntron{
    
    margin-left: 45% !important;
}

#spnIntro{
    
    padding-left: 34% !important;
    
}

#spn1Intro{
     padding-left: 9% !important;
    
}

.container{
    margin-top: 5.5% !important;
}

#navi{
    
    width: 15%;
    height: 20%;
}

#kol{
    
    
}

#searchBar{
    
    margin-top: 1%;
    margin-right: 25%;
}

.PicSixe{
    
    width: 65px;
    height: 65px;
}

li{
    padding-left: 30%;
     list-style-type: none;
    width: 100px;
}

#DataTable{
    
    margin-right: 26.2%;
}

#prgSecond{
    
    margin-left: 37%;
}

#btnSecond{
     margin-left: 45% !important;
    margin-bottom: 10%;
}