#headerIntro{
    
    padding-left: 40% !important;
}

#prgfIntro{
    
     padding-left: 7% !important;
}

body{
    
    background-color: aliceblue;
}

#btnIntron{
    
    margin-left: 45% !important;
}

#spnIntro{
    
    padding-left: 34% !important;
    
}

#spn1Intro{
     padding-left: 9% !important;
    
}

.container{
    margin-top: 7.5% !important;
}

#navi{
    
    width: 15%;
    height: 20%;
}

#kol{
    
    
}